@model VentasApp.Models.Productos

@{
    ViewData["Title"] = "Eliminar producto";
}
<br>
<h1>Eliminar</h1>
<br>
<h3>¿Desea eliminar este producto?</h3>
<div>
    <h4 class="text-danger">Esta es una acción solo para administradores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            Fecha de Vencimiento
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Vencimiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id_Producto" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-light">Cancelar y regresar</a>
    </form>
</div>
